/// Font size ////

@mixin fs-15 {
  font-size: 15px;
}

/// ---------- ////

/// Font weights ////

@mixin fw-400 {
  font-weight: 400;
}

@mixin fw-700 {
  font-weight: 700;
}

/// ---------- ////

/// Display ////

@mixin d-flex {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
@mixin d-align {
  display: flex;
  align-items: center;
}

/// ----------- ////

@mixin d-block {
  display: block;
}

@mixin m-p {
  margin: 0;
  padding: 0;
}
@mixin wh-100 {
  width: 100%;
  height: 100%;
}
